/* Home.css */
body{
  background-color: black;
  color: white;
}
.home-wrapper {
  text-align: center;
  margin: 50px;
}

.home-link {
  margin: 0 10px;
  text-decoration: none;
  color: #fff9f9;
  font-weight: bold;
}

.home-link:hover {
  color: #007bff;
}
